.modal-body .form-button{
  margin-top: -55px;
  float: right;
  margin-right: 64px;
}

#ajax-status-note{
	position: fixed;
	display: block;
	width: 80%;
	left: 10%;
	z-index: 9999;
	top: 45px;
}

.modal-overflow .modal-body {
overflow: visible;
-webkit-overflow-scrolling: touch;
}

.modal-overflow .modal-body .form-button{
	 margin-top: -70px;
}